%h1 Aktuality
%p
- @posts.each do |post|
  %ul
    %li
      %h3
        = link_to post.title, post_path(post)
    %li
      = post.text.html_safe
    %li
      - if user_signed_in?
        #edit
          = link_to 'Edit', edit_post_path(post)
