- if @event.errors.any?
  .errors
    Akce nemohla být uložena, prosím zadejte údaje znovu.
    %ul
    - @event.errors.full_messages.each do |msg|
      %li= msg

= form_with(model: @event, local: true) do |form|
  .form-group
    = form.label :Název
    = form.text_field :title, class: 'form-control', required: true
  .form-group
    = form.label :Datum
    = form.text_field :date, { id: 'datepicker', class: 'form-control' }
  .form-group
    = form.label :Typ
    = select('event', 'type', types_options, class: 'form-control')
  .form-group
    = form.label :Popis
    = form.text_area :description, class: 'form-control', rows: 5, cols: 50
  .form-group
    = form.submit 'Uložit', class: 'btn btn-primary'
