%h1 Události

- @events.each do |event|
  %ul
    %li
      %h3
        = link_to event.title, event_path(event)
      %strong Datum:
      = format_date(event.date)
      %p
        %strong Typ: 
        = event.event_type_title
    %p
    %li
      = event.description.html_safe
    %li
      - if user_signed_in?
        #edit
          = link_to 'Edit', edit_event_path(event)
