%ul
  %li
    %h3
      = @event.title
    %strong Datum:
    = format_date(@event.date)
    <br>
    %strong Typ:
    = @event.event_type_title
  %li
    = @event.description.html_safe
  %li
    #edit
      - if user_signed_in?
        =link_to 'Edit', edit_event_path(@event)
