- if @sponsor.errors.any?
  .errors
    Sponzor nemohl být uložen, prosím zadejte údaje znovu.
    %ul
    - @sponsor.errors.full_messages.each do |msg|
      %li= msg

= form_with(model: @sponsor, local: true) do |form|
  .form-group
    = form.label :Jméno
    = form.text_field :name, class: 'form-control', required: true
  .form-group
    = form.label :Web
    = form.text_field :web, class: 'form-control', type: 'url'
  .form-group
    = form.label :Logo
    = form.file_field :logo, class: 'form-control'
  .form-group
    = form.submit 'Uložit', class: 'btn btn-primary'
