%h1 Podporují nás
- @sponsors.each do |sponsor|
  %ul
    %p
      %img2
        = image_tag(sponsor.logo_url(:thumb).to_s)
      %h3
        = link_to sponsor.name, sponsor_path(sponsor)
      #web_link
        = link_to sponsor.web, sponsor.web
      - if user_signed_in?
        #edit
          %td= link_to 'Edit', edit_sponsor_path(sponsor)



