- if @photo.errors.any?
  .errors
    Fotka nemohla být uložena, prosím přidejte fotku znovu.
    %p
    - @photo .errors.full_messages.each do |msg|
      %li= msg

= form_with(model: @photo, local: true) do |form|
  .form-group
    = form.label :Název
    = form.text_field :name, class: 'form-control', required: true
  .form-group
    = form.label :Fotka
    = form.file_field :image, class: 'form-control', required: true
  .form-group
    = form.label :Popis
    = form.text_area :description, class: 'form-control', rows: 5, cols: 50
  .form-group
    = form.submit 'Uložit', class: 'btn btn-primary'
