%ul
  = notice
  %li
    %h3
      = @photo.name
  %li
  = image_tag(@photo.image_url.to_s)
  %li
    = @photo.description
  %li
    - if user_signed_in?
      #edit
        = link_to "Smazat", photo_path(@photo), method: :delete,
        data: { confirm: 'Skutečně smazat fotku?' }
