- if @post.errors.any?
  .errors
    Článek nemohl být uložen, prosím zadejte údaje znovu.
    %ul
    - @post.errors.full_messages.each do |msg|
      %li= msg

= form_with(model: @post, local: true) do |form|
  .form-group
    = form.label :Název
    = form.text_field :title, class: 'form-control', required: true
  .form-group
    = form.label :Popis
    = form.text_area :text, class: 'form-control', rows: 5, cols: 50, required: true
  .form-group
    = form.submit 'Uložit', class: 'btn btn-primary'
