%ul
  %h3
    = @post.title
  %li
    = @post.text.html_safe
  %li
    #edit
      %strong Autor:
      = @post.user.email
      - if user_signed_in?
        |
        \#{link_to 'Edit', edit_post_path(@post)}
