/*
*= require jquery-ui
*/

@import "bootstrap";

body {
    background-color: #FAFAF8;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.header {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    height: 220px;
    padding: 30px 0;
}

.outer-header {
    background-color: #ffffff;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #b30115;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 17px;
}

/* Navbar links */
.topnav a {
    color: #ffffff;
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
}

.topnav li{
    display:inline;
    text-transform: uppercase;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #f4a43a;
    color: ffffff;
}

/* Left column */
.column.side {
    width: 25%;
    margin: 0px;
    padding: 10;
}

/* Middle column */
.column.middle {
    width: 74%;
    padding: 10;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Fonts */
h1, h2, h3 {
   text-align: left;
   color: black;
   font-weight: bold;
   font-family: 'Francois One', sans-serif;
}

h1 {
   font-size: 28px;
   text-decoration: underline;
 }

h2 {
   font-size: 20px;
 }

h3 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
 }

.login {
    text-align: center;
    font-size: 14px;
}

.login a {
    color: #f4a43a;
}

.link a:link {
    color: #f4a43a;
}

/* Unvisited link */
.column.middle a:link, .column.middle a:visited, .column.middle a:active {
    color: black;
}


/* Mouse over link */
.column.middle a:hover {
    color: #f4a43a;
    text-decoration: none;
}

/* Lists */
.column.middle ul, .column.side ul {
    list-style-type: none;
    border-radius: 6px;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1.5px 5px 0 rgba(0, 0, 0, 0.09);
}

.column.middle ul {
    margin: 10px 10px 0px 0px;
    padding: 10px;
}

.column.side ul {
    margin: 10px 5px 0px 0px;
    padding: 0;
}

.column.middle li {
    padding: 10px 0px 0px 0px;
    text-align: justify;
}

.column.side li a {
    border-bottom: 1px solid #ededed;
    border-radius: 6px;
    display: block;
    color: #000;
    padding: 6px 16px;
    text-decoration: none;
}

.column.side li a:hover {
    background-color: #f4a43a;
    color: white;
}

/* Links for editing articles and web links */
#edit {
    text-align: right;
    font-size: 14px;
    color: #f4a43a;
}

#web_link a, #edit a {
    color: #f4a43a;
    text-decoration: none;
}

#web_link a:hover, #edit a:hover {
    color: #f4a43a;
    text-decoration: underline;
}

/* Pictures */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0 0;
    max-width: 100%
}

img2 {
    float: right;
    height: 20px;
    padding-right: 6%;
    max-width: 100%
}

/* Save button in forms */
.btn-primary {
    background-color: #f4a43a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #b30115;
    color: ffffff;
}

/* Contacts page layout */
.container_contacts{
    width:100%;
    display:inline-block;
}

.column_contacts{
    width:50%;
    float:left;
}

/* Google map */
.map {
    overflow:hidden;
    padding-bottom:75%;
    position:relative;
    height:0;
}

.map iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding: 10px;
}

/* Social media icons */
.fa {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: left;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

#facebook-icon {
    color: #3B5998;
}

#youtube {
    vertical-align: -15%;
    color: #bb0000;
    padding: 10px;
}

#envelope, #facebook {
    width: 35px;
    height: 30px;
    color: white;
    padding: 4px 0 5px 5px;
}

/* Footer layout */
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -40px;
}
.page-wrap:after {
    content: "";
    display: block;
}

.page-wrap:after {
    height: 40px;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: #b30115;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 28px;
    font-size: 12px;
}

.footer-column {
    float:left;
    width: 33.3%;
}

/* Copyright in footer */
.copyright {
    padding-top: 5px;
    text-align:right;
    padding-right: 10px;
}

/* Links in footer */
#footer_link a{
    color: white;
    text-decoration: none;
}

#footer_link a:hover{
    color: white;
    text-decoration: underline;
}
