%ul
  %h1 Jak přispět
  %li
    Naše občanské sdružení je nezisková organizace závislá na finančních darech a dotacích. Budeme
    velice potěšeni, když pomůžete naši činnost dále rozšiřovat a zkvalitňovat, tím že nám přispějete
    jakoukoliv finanční částkou či věcným darem.
  %li
    Velice uvítáme vaši pomoc při akcích, které pořádáme (festival Na konci léta, koncerty,
    ples sdružení…), ať už vaší účastí jako divák či jako dobrovolník, který nám pomůže s organizací.
  %li
    Chcete-li zlepšit kvalitu námi nabízených služeb, či přispět na vybavení nových prostorů v
    Resslově ulici, můžete zaslat libovolnou částku na konto sbírky pro Ty a Já,
    které má číslo 198380634/0300.
  %li
    Přispět nám můžete také zakoupením našich výrobků z keramické dílny a výrobků vyrobených na
    kroužcích v o. s. Ty a Já, nebo koupí CD Hudební laboratoře za symbolickou cenu 100 Kč.
  %li
    <b><font size="4" style="font-family:Francois One;">Číslo účtu: 198380634/0300 ČSOB, a.s.</font></b>
  %li
    Velice uvítáme vaši pomoc při akcích, které pořádáme (festival Na konci léta, koncerty,
    ples sdružení…), ať už vaší účastí jako divák či jako dobrovolník, který nám pomůže s organizací.
  %li
    %img
      = link_to(image_tag("jak-prispet.jpg", alt: "jak_prispet"), sites_jak_prispet_path)
