%ul
  %h1 Kontakty
  %p
  .container_contacts
    .column_contacts
      %h3 Výbor spolku:<br>
      Jitka Malafová (předsedkyně) <br>
      Martina Šnajdrová<br>
      Mgr. Jitka Vachulková<br>
      %li
        %p
          %h3 Adresa:<br>
          Sdružení Ty a Já, z. s.<br>
          Resslova 14<br>
          301 00 Plzeň<br>
      %li
        %p
          IČ: 27007278<br>
    .column_contacts
      %h3 Kontakty:<br>
      Telefon: 776 488 008<br>
      #web_link
        Email:
        %a{href: "mailto:sdruzenityaja@seznam.cz"} sdruzenityaja@seznam.cz<br>
        %p
      %li
        %a.fa.fa-facebook-square#facebook-icon{:href => "https://www.facebook.com/pages/biz/non_profit-plzen/Sdru%C5%BEen%C3%AD-Ty-a-J%C3%A1-zs-130135556726/"}
  .map
    %iframe{allowfullscreen: "", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5156.669921197158!2d13.372917833523651!3d49.742140940873675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470af1e37319f25b%3A0xfe5a804584ae995e!2zUmVzc2xvdmEgMzcwLzE0LCAzMDEgMDAgUGx6ZcWIIDMtSmnFvm7DrSBQxZllZG3Em3N0w60!5e0!3m2!1scs!2scz!4v1534495214104", style: "border:0", width: "400"}
