
%ul
  %h1 O Nás
  %li
    Sdružení Ty a Já bylo založeno v září roku 2005 z iniciativy rodičů handicapovaných dětí.
    Pomáhá nejen handicapovaným mladým lidem se začleněním se do společnosti. Nabízí smysluplné
    trávení volného času všem mladým lidem.
  %li
    Zajišťujeme a pořádáme kulturní, společenské a sportovní akce a to nejen v Plzni.
    Vzniká zde hodně zajímavých věcí, které by za normálních podmínek jen těžko přišly na svět.
  %li
    Video o sdružení Ty a Já
    %a.fa.fa-youtube-square#youtube{:href => "https://www.youtube.com/watch?v=92jmcsiD4iw"}
  %li
    %img
      = link_to(image_tag("o_nas.png", alt: "o_nas"), sites_o_nas_path)

