%html{ class: page_class }
  %head

    %link{:href => "https://fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/

    = favicon_link_tag 'logo-tyaja.png'

    %meta{ charset: "utf-8" }

    %title= page_title

    %meta{ name: "description", content: page_description }

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload')
    = javascript_include_tag('application', 'data-turbolinks-track': 'true')
  %body
    .page-wrap
      .outer-header
        .container
          .header
            .col
              = link_to(image_tag("banner-ty-a-ja.png", alt: "banner", height: "160"), home_index_path)
        .topnav
          .row
          %li
            = link_to('Domovská stránka', home_index_path)
          %li
            = link_to('O nás', sites_o_nas_path)
          %li
            = link_to('Podporují nás', sponsors_path)
          %li
            = link_to('Jak přispět', sites_jak_prispet_path)
          %li
            = link_to('Kontakty', sites_kontakty_path)
      .container.main
        .row
          .column.side
            %ul
              .login
                - if user_signed_in?
                  Logged in as
                  %strong= current_user.email
                  %br
                  = link_to 'Editovat profil', edit_user_registration_path
                  |
                  \#{link_to "Logout", destroy_user_session_path, method: :delete}
                - else
                  = link_to "Sign up", new_user_registration_path
                  |
                  \#{link_to "Login", new_user_session_path}
            - if user_signed_in?
              %ul
                %li
                  = link_to('Vytvořit událost', new_event_path)
                %li
                  = link_to('Vytvořit článek', new_post_path)
                %li
                  = link_to('Přidat sponzora', new_sponsor_path)
            %ul
              %li
                = link_to('Domovská stránka', home_index_path)
              %li
                = link_to('Plánované akce', events_path(type: :planned))
              %li
                = link_to('Kroužky', events_path(type: :hobby_group))
              %li
                = link_to('Kurzy', events_path(type: :course))
              %li
                = link_to('Festival na konci léta', events_path(type: :festival))
              %li
                = link_to('Fotogalerie')
          .column.middle
            = yield
    .footer
      .footer-column
        &nbsp;
      .footer-column
        %a.fa.fa-facebook-square#facebook{:href => "https://www.facebook.com/pages/biz/non_profit-plzen/Sdru%C5%BEen%C3%AD-Ty-a-J%C3%A1-zs-130135556726/"}
        %a.fa.fa-envelope-square#envelope{href: "mailto:sdruzenityaja@seznam.cz"}
      .footer-column
        .copyright
          &#169; 2018 Eva Kadlecová a Jarka Košanová.
